# drivers/mxc/Kconfig

if ARCH_MXC

menu "MXC support drivers"

if ARM64
source "drivers/mxc/hantro/Kconfig"
source "drivers/mxc/hantro_845/Kconfig"
source "drivers/mxc/gpu-viv/Kconfig"
endif

endmenu

endif
