# drivers/mxc/Kconfig

if ARCH_MXC

menu "MXC support drivers"

if ARM64
source "drivers/mxc/hantro/Kconfig"
source "drivers/mxc/hantro_845/Kconfig"
source "drivers/mxc/hantro_845_h1/Kconfig"
source "drivers/mxc/hantro_vc8000e/Kconfig"
source "drivers/mxc/gpu-viv/Kconfig"
source "drivers/mxc/xuvi/Kconfig"
endif

source "drivers/mxc/vpu/Kconfig"

endmenu

endif
